<!DOCTYPE html>
<html>
<head>
    <title>Lifelube Server Infrastructure</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <h1 class="page-heading">Lifeblue Server Infrastructure</h1>

    <section class="server-list">
        <% servers.forEach(function(server, index) { %>
            <div class="server">
                <h2 class="server-heading">
                    <span class="server-status-<%= (server.status == "RUNNING") ? "up" : "down"; %>"></span>
                    <%= server.name %>
                </h2>
                <strong>IPV4 Address:</strong> <%= server.ip_address %>
                <div class="site-list">
                    <% server.sites.forEach(function(site, index) { %>
                        <% if(site.documentroot != ""){ %>
                            <div class="site">
                                <h3 class="site-heading"><%= site.servername %></h3>
                                <strong>DocumentRoot:</strong> <%= site.documentroot %><br>
                                <strong>ErrorLog:</strong> <%= site.errorlog %>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            </div>
        <% }); %>
        <div class="clearfix"></div>
    </section>

</body>
</html>