body {
    background-color: #2A2C2B;
    color: #374140;
    font-family: helvetica;
}

.clearfix {
    clear: both;
}

.page-heading {
    color: #DC3522;
    text-align: center;
    margin-top: 75px;
}

.server-list {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 0 75px;
}

.server {
    width: 42%;
    height: 400px;
    display: inline-block;
    background-color: #FFF5E5;
    border-radius: 5px;
    margin: 20px;
    padding: 25px;
    box-shadow: 5px 5px 5px #000000;
    overflow-y: scroll;
}

.server-heading {
    margin-top: 0;
}

.server-heading > .server-status-up {
    display: inline-block;
    background-color: #22DC7C;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    vertical-align: middle;
    margin-top: -5px;
}

.server-heading > .server-status-down {
    display: inline-block;
    background-color: #FF5441;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    vertical-align: middle;
    margin-top: -5px;
}

.site-list {
    height: 315px;
    margin-top: 10px;
    overflow-y: scroll;
}

.site {
    background-color: #E5DCCE;
    margin: 20px 10px 20px 5px;
    padding: 15px;
    box-shadow: 3px 3px 3px #666666;
    word-break: break-all;
}

.site-heading {
    margin: 0 0 10px;
}